.mapStyle,
.leaflet-container,
.mapContainer {
  height: calc(100vh - 77px);
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif, monospace;
}

.leaflet-control-scale-line {
  border: none;
  font-size: 18px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background: transparent none repeat scroll 0% 0%;
  color: white;
  box-shadow: none;
  text-align: center;
}
a:active {
  outline: none;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}
