.leaflet-popup-content-wrapper {
  background-color: #eee;
}

.leaflet-popup-content-wrapper h3 {
  font-size: 1.1em;
}

.leaflet-popup-content-wrapper h3::after {
  padding-left: 5px;
  content: "|";
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}
